@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @section Styles{
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="~/About/style.css">
    }
    <title>Document</title>
</head>

<body>
    <main>
        <div class="about-us">
            <div class="about-us-container">
                <div class="left">
                    <div class="line"></div>
                </div>

                <div class="right">
                    <h3 class="gold-title">ABOUT US</h3>
                    <h1 class="black-title" style="margin-bottom: 60px;">We are Varkala</h1>
                    <p class="paragraph">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections  </p>
                </div>
            </div>
        </div>

        <div class="the-old-times">
            <div class="the-old-times-container">
                <div class="left">
                    <div class="line"></div>
                </div>

                <div class="right1">
                    <h3 class="gold-title">THE OLD TIMES</h3>
                    <h1 class="black-title">History of Varkala</h1>
                </div>
            </div>
        </div>

        <div class="history">
            <div class="history-container">

                <div class="history-left">
                    <img src="Images_about/history-img1.jpg" alt="" style="width: 350px;height:525px;" id="img-left">
                </div>

                <div class="history-right">
                    <h6 class="grey-title">Humble beginnings</h6>
                    <h2 class="black-title1">We started as little</h2>
                    <p class="paragraph">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections  </p>
                </div>

            </div>
        </div>

        <div class="history">
            <div class="history-container hc2">

                <div class="history-right hr2">
                    <h6 class="grey-title">VARKALA TODAY</h6>
                    <h2 class="black-title1">And then we grew a bit</h2>
                    <p class="paragraph p2">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections  </p>
                </div>

                <div class="history-left">
                    <img src="Images_about/history-img2.jpg" alt="" style="width: 445px;height:300px;" id="img-right">
                </div>

            </div>
        </div>

        <div class="milestones">
            <div class="milestones-container">

                <div class="milestones-left">
                    <h6 class="black-title1">Varkala Milestones</h6>
                    <p class="paragraph" style="width: 370px;">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections  </p>
                </div>

                <div class="milestones-right">

                    <div class="item">
                        <h6 class="year">1995</h6>
                        <p class="paragraph-item">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin </p>
                    </div>

                    <div class="item">
                        <h6 class="year">2000</h6>
                        <p class="paragraph-item">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared</p>
                    </div>

                    <div class="item">
                        <h6 class="year">2010</h6>
                        <p class="paragraph-item">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection</p>
                    </div>

                    <div class="item">
                        <h6 class="year">2018</h6>
                        <p class="paragraph-item">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magaz</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="samsa">
            <div class="samsa-container">

                <div class="samsa-left">
                    <img src="Images_about/samsa-img.jpg" alt="" class="samsa-img">
                </div>

                <div class="samsa-right">
                    <p class="samsa-paragraph-top">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.   </p>
                    <h6 class="samsa-title">— Frankie Kafka, Founder</h6>
                    <p class="samsa-paragraph-bottom">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                </div>
            </div>
        </div>

        <div class="team">
            <div class="team-container">
                <div class="left">
                    <div class="line"></div>
                </div>

                <div class="right">
                    <h3 class="gold-title">OUR TEAM</h3>
                    <h1 class="black-title" style="margin-bottom: 60px;">People</h1>
                    <p class="paragraph">He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.</p>

                    <div class="workers-profile">

                        <div class="worker">
                            <img src="Images_about/samsa-img.jpg" alt="" class="profile">
                            <h4>Frankie Kafka</h4>
                            <p>CEO & Founder</p>
                        </div>

                        <div class="worker">
                            <img src="Images_about/profile2.jpg" alt="" class="profile">
                            <h4>Brittney Day</h4>
                            <p>CTO</p>
                        </div>

                        <div class="worker">
                            <img src="Images_about/avatar-2.jpg" alt="" class="profile">
                            <h4>Kim Cervantes</h4>
                            <p>Marketing</p>
                        </div>

                        <div class="worker">
                            <img src="Images_about/avatar-3.jpg" alt="" class="profile">
                            <h4>Massey Armstrong</h4>
                            <p>Customer care</p>
                        </div>

                        <div class="worker">
                            <img src="Images_about/avatar-4.jpg" alt="" class="profile">
                            <h4>B.J. Petersen</h4>
                            <p>E-commerce</p>
                        </div>

                        <div class="worker">
                            <img src="Images_about/avatar-5.jpg" alt="" class="profile">
                            <h4>Mayra Holman</h4>
                            <p>Customer care</p>
                        </div>

                        <div class="worker">
                            <img src="Images_about/avatar-6.jpg" alt="" class="profile">
                            <h4>Gabriel Fisher</h4>
                            <p>Customer care</p>
                        </div>

                        <div class="worker">
                            <img src="Images_about/avatar-7.jpg" alt="" class="profile">
                            <h4>Jose Holman</h4>
                            <p>Custom care  </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="logos">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="Images_about/icon1.svg" alt="" style="width: 96px;height: 96px;opacity: 0.7;"></div>
                    <div class="swiper-slide"><img src="Images_about/icon2.svg" alt="" style="width: 96px;height: 96px;opacity: 0.7;"></div>
                    <div class="swiper-slide"><img src="Images_about/icon3.svg" alt="" style="width: 96px;height: 96px;opacity: 0.7;"></div>
                    <div class="swiper-slide"><img src="Images_about/icon4.svg" alt="" style="width: 96px;height: 96px;opacity: 0.7;"></div>
                    <div class="swiper-slide"><img src="Images_about/icon5.svg" alt="" style="width: 96px;height: 96px;opacity: 0.7;"></div>
                    <div class="swiper-slide"><img src="Images_about/icon6.svg" alt="" style="width: 96px;height: 96px;opacity: 0.7;"></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="info">
            <div class="info-container">
                <h2 class="info-title">At Varkala, we want the right choice to be as easy as putting on a great T-shirt</h2>

                <div class="info-bottom">
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
                    <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream.</p>
                </div>
            </div>
        </div>

        <div class="advantages">
            <div class="advantages-container">
                <div class="advantage-items">
                    <div class="advantage-items-left">
                        <i class="fa-solid fa-taxi fa-xl" style="color: #000000;"></i>
                    </div>
                    <div class="advantage-items-right">
                        <h6 class="name3">Free shipping & return</h6>
                        <p class="paragraph2">Free Shipping over $300</p>
                    </div>
                </div>

                <div class="advantage-items">
                    <div class="advantage-items-left">
                        <i class="fa-brands fa-bitcoin fa-xl" style="color: #000000;"></i>
                    </div>
                    <div class="advantage-items-right">
                        <h6 class="name3">Free shipping & return</h6>
                        <p class="paragraph2">Free Shipping over $300</p>
                    </div>
                </div>

                <div class="advantage-items">
                    <div class="advantage-items-left">
                        <i class="fa-solid fa-percent fa-xl" style="color: #000000;"></i>
                    </div>
                    <div class="advantage-items-right">
                        <h6 class="name3">Free shipping & return</h6>
                        <p class="paragraph2">Free Shipping over $300</p>
                    </div>
                </div>

                <div class="advantage-items">
                    <div class="advantage-items-left">
                        <i class="fa-regular fa-user fa-xl" style="color: #000000;"></i>
                    </div>
                    <div class="advantage-items-right">
                        <h6 class="name3">Free shipping & return</h6>
                        <p class="paragraph2">Free Shipping over $300</p>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

@section Scripts{
    <script src="~/About/js/about.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/About/js/slide.js"></script>
}

</html>
