* {
    margin: 0;
    padding: 0;
}

.header-top {
    height: 55px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
}

.header-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 95%;
}

.header-top-left {
    display: flex;
    gap: 10px;
}

.contact {
    margin-left: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-top-right {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-top-middle {
    font-family: Arial, Helvetica, sans-serif;
}

#english {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #343A40;
}

.header-bottom {
    height: 48px;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.header-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 95%;
}

.header-bottom-left, .header-bottom-right {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #343a40;
    margin-right: 35px;
    height: 40px;
}

input {
    padding: 5px;
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    background-color: transparent;
}


::placeholder {
    font-weight: 500;
    font-size: 15px;
}

#languages, #money {
    position: absolute;
    top: 55px;
    width: 160px;
    height: 86px;
    z-index: 2;
    background-color: white;
    box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -webkit-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}



    #money a {
        text-decoration: none;
        margin-right: 70px;
        color: #343a40;
        line-height: 1.6;
        padding: 6.4px 24px;
    }

#home-list, #docs-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    top: 50px;
    width: 200px;
    height: 160px;
    display: none;
    z-index: 2;
}

    #home-list a, #docs-list a {
        padding-left: 20px;
        text-decoration: none;
        color: #868e96;
        display: flex;
    }

        #home-list a:hover, #docs-list a:hover {
            color: black;
        }

.new-icon {
    font-size: 10px;
    color: #bcac76;
    background-color: #f7f5ef;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 4px;
}

#docs-list {
    width: 170px;
    height: 300px;
}


#shop-list {
    position: absolute;
    display: flex;
    width: 780px;
    height: 376px;
    justify-content: space-between;
    display: none;
    z-index: 2;
}

.shop-pages-list li, .product-pages-list li {
    list-style: none;
    color: #868e96;
}

    .shop-pages-list li:hover, .product-pages-list li:hover {
        color: black;
    }

.shop-pages-list h6, .product-pages-list h6 {
    font-size: 15px;
}

.shop-pages-list, .product-pages-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    margin-top: 45px;
    margin-left: 25px;
}

#pages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50px;
    left: -270px;
    width: 1300px;
    height: 650px;
    display: none;
    z-index: 2;
}

.pages-lists {
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 30px;
    width: fit-content;
}

    .pages-lists li {
        list-style: none;
        color: #868e96;
    }


.pages-list-inside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .pages-list-inside h3 {
        margin-bottom: 5px;
    }

.new-icon-page {
    font-size: 12px;
    padding: 3px;
    border-radius: 5px;
    color: #bcac76;
    background-color: #f7f5ef;
}

#icon-list {
    z-index: 2;
    position: absolute;
    top: 50px;
    left: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 730px;
    height: 300px;
    display: none;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icon-list-top, .icon-list-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 20px;
    height: 40px;
}

.icon-list-bottom {
    background-color: #bcac76;
    width: 730px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.gold-small {
    color: #bcac76;
    font-family: Arial, Helvetica, sans-serif;
}

.title-big, .title-middle {
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
    font-weight: 700;
    line-height: 1.3;
}

.title-big {
    font-size: 56px;
}

.title-middle {
    font-size: 1.25rem;
}

    .title-middle:hover {
        text-decoration: underline;
    }

#shop-plus, #company-plus, #account-plus {
    transition: 0.20s;
}

.paragraph {
    color: #212529;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

.img-background {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 560px;
    object-fit: cover;
}

.img-container {
    position: absolute;
    top: 0;
    width: 100%;
}

.blog {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.items, .arrows {
    height: fit-content;
    display: flex;
    justify-content: center;
}

.arrows {
    justify-content: center;
}

.items {
    margin-top: 100px;
}

.items-container {
    display: grid;
    grid-template-columns: 306px 306px 306px;
    grid-template-rows: 300px 300px 300px;
    column-gap: 100px;
    row-gap: 40px;
}

.arrows {
    margin-top: 60px;
    margin-bottom: 200px;
}

.arrows-container {
    width: 1100px;
    justify-content: space-between;
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

    .item a {
        text-decoration: none;
    }

.left, .right {
    font-family: Arial, Helvetica, sans-serif;
    color: #868e96;
}

.gmail-input {
    border-bottom: 1px solid #343a40;
    width: fit-content;
}

.footer {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 170px;
}

.footer-gmail {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-list {
    font-family: Arial, Helvetica, sans-serif;
}

    .footer-list ul li {
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        color: #868e96;
        font-size: 1rem;
        font-weight: 500;
        width: fit-content;
    }

    .footer-list ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer-list h6 {
        margin-bottom: 13px;
        font-size: 16px;
    }

.footer-last-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin-bottom: 20px;
}

.footer-last {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #868e96;
}

.footer-last-container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 18px;
}

.advantages {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 280px;
    background-color: #f8f9fa;
    margin-top: 50px;
}

.advantages-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.advantage-items {
    display: flex;
}

.advantages {
    display: flex;
    justify-content: center;
}

#footer-shop-list, #footer-company-list, #footer-account-list {
    transition: 0.40s;
}

.advantage-items-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.name3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
    text-decoration: none;
    font-size: .875rem;
}

.paragraph2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #868e96;
    font-size: 14px;
}

#product-count {
    position: absolute;
    bottom: 14px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bcac76;
    color: white;
}

#english-arrow, #usd-arrow, #home-arrow, #docs-arrow, #shop-arrow, #page-arrow, #icon-arrow, #dropdown-arrow {
    transition: 0.40s;
}

#languages a {
    text-decoration: none;
    margin-right: 70px;
    color: #343a40;
    line-height: 1.6;
    padding: 6.4px 24px;
}

#languages {
    right: 120px;
}

#home-list, #docs-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    top: 50px;
    width: 200px;
    height: 160px;
    display: none;
    z-index: 2;
}

    #home-list a, #docs-list a {
        padding-left: 20px;
        text-decoration: none;
        color: #868e96;
        display: flex;
    }

        #home-list a:hover, #docs-list a:hover {
            color: black;
        }

.new-icon {
    font-size: 10px;
    color: #bcac76;
    background-color: #f7f5ef;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 4px;
}

#docs-list {
    width: 170px;
    height: 300px;
}


#shop-list {
    position: absolute;
    display: flex;
    width: 780px;
    height: 376px;
    justify-content: space-between;
    display: none;
    z-index: 2;
}

.shop-pages-list li, .product-pages-list li {
    list-style: none;
    color: #868e96;
}

    .shop-pages-list li:hover, .product-pages-list li:hover {
        color: black;
    }

.shop-pages-list h6, .product-pages-list h6 {
    font-size: 15px;
}

.shop-pages-list, .product-pages-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    margin-top: 45px;
    margin-left: 25px;
}

#pages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50px;
    left: -270px;
    width: 1300px;
    height: 650px;
    display: none;
    z-index: 2;
}

.pages-lists {
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 30px;
    width: fit-content;
}

    .pages-lists li {
        list-style: none;
        color: #868e96;
    }


.pages-list-inside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .pages-list-inside h3 {
        margin-bottom: 5px;
    }

.footer-line-list {
    display: none;
}

    .footer-line-list ul {
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        color: #868e96;
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 0;
        overflow: hidden;
    }

@media only screen and (max-width: 880px) {
    .arrows-container {
        width: 680px !important;
    }

    .basket-container {
        margin-right: 260px;
    }

    .blog-container p {
        width: 690px !important;
    }

    .footer-list {
        display: none;
    }

    .footer-line-list {
        display: flex;
    }

    .footer-container {
        flex-direction: column;
        gap: 0;
        width: 700px;
    }

    .footer-line {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-line-list {
        display: flex;
        flex-direction: column;
    }

    .footer-line h3 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .footer-gmail {
        width: 700px;
    }

    .footer-last-container {
        width: 700px;
        flex-direction: column;
        gap: 10px;
    }

    .gmail-input {
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer {
        height: fit-content;
    }

    .advantages-container {
        flex-wrap: wrap;
        width: 700px;
    }

    #home, #shop, #icon, #page, #docs, .search {
        display: none;
    }

    .blog-container p {
        width: 690px;
        margin-left: auto;
        margin-right: auto;
    }

    .arrows-container {
        width: 670px;
    }

    .items-container {
        grid-template-columns: 306px 306px;
        grid-template-rows: 300px 300px 300px;
    }

    .item img {
        width: 330px;
        height: 220px;
    }
}

.new-icon-page {
    font-size: 12px;
    padding: 3px;
    border-radius: 5px;
    color: #bcac76;
    background-color: #f7f5ef;
}

#icon-list {
    z-index: 2;
    position: absolute;
    top: 50px;
    left: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 730px;
    height: 300px;
    display: none;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icon-list-top, .icon-list-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 20px;
    height: 40px;
}

.icon-list-bottom {
    background-color: #bcac76;
    width: 730px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#home-list, #docs-list, #navbar-list, #shop-list, #pages, #icon-list {
    background-color: white;
    box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -webkit-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
}

#navbar-list {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    display: none;
    top: 0px;
    right: 0;
    z-index: 2;
    width: 520px;
}

.navbar-list-container {
    height: 400px;
    margin-top: 100px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .navbar-list-container a {
        text-decoration: none;
        color: #868e96;
    }

    .navbar-list-container h5 {
        margin-bottom: 40px;
    }

#dropdown-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-left: 20px;
    margin-top: 18px;
    height: 0px;
    overflow: hidden;
    transition: 0.20s;
}

#dropdown:hover #dropdown-list {
    height: 0px;
}

#dropdown {
    color: #868e96;
}

.title1, .title2-margin-left {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    font-size: 1.85rem;
}

.home-container, .shop-container, .icon-container, .page-container {
    position: relative;
}

@media only screen and (max-width: 770px) {

    .basket-container {
        margin-right: 220px;
    }

    .header-top-middle {
        display: none;
    }

    .footer-list {
        display: none;
    }

    .footer-line-list {
        display: flex;
    }

    .footer-container {
        flex-direction: column;
        gap: 0;
        width: 510px;
    }

    .footer-line {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 510px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-line-list {
        display: flex;
        flex-direction: column;
    }

    .footer-line h3 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .footer-gmail {
        width: 510px;
    }

    .footer-last-container {
        width: 510px;
        flex-direction: column;
        gap: 10px;
    }

    .gmail-input {
        width: 510px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer {
        height: fit-content;
    }

    .advantages-container {
        flex-wrap: wrap;
        width: 510px;
    }

    #home, #shop, #icon, #page, #docs, .search {
        display: none;
    }

    .blog-container p {
        width: 510px;
        margin-left: auto;
        margin-right: auto;
    }

    .arrows-container {
        width: 670px;
    }

    .items-container {
        grid-template-columns: 306px 306px;
        grid-template-rows: 300px 300px 300px;
        gap: 0
    }

    .advantages {
        margin-top: 0;
    }

    .footer-last-container {
        font-size: 12px;
    }

    .item img {
        width: 240px !important;
        height: 160px !important;
    }
}

@media only screen and (max-width: 1180px) {
    .blog-container p {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .items-container img {
        width: 245px !important;
        height: 165px !important;
    }

    .change {
        width: 245px;
    }

    .items-container {
        column-gap: 20px;
    }

    .arrows-container {
        width: 960px;
    }

    .footer-container {
    }
}

@media only screen and (max-width: 650px) {
    .title-big {
        font-size: 1.25rem;
    }

    .gold-small {
        margin-bottom: 10px;
    }

    .blog-container p {
        width: 510px;
    }

    .blog-container {
        width: 510px;
    }

    .items-container {
        grid-template-columns: 260px 260px;
        grid-template-rows: 300px 300px 300px 300px;
        column-gap: 10px;
    }

    .arrows-container {
        width: 510px;
    }
}

@media only screen and (max-width: 500px) {
    .items-container {
        grid-template-columns: 510px;
        grid-template-rows: 300px 300px 300px 300px;
        row-gap: 10px;
    }

    #usd, #english {
        display: none;
    }

    .item {
        width: 490px;
        align-items: center;
    }

    .advantages-container {
        width: 400px;
    }

    .advantages {
        height: 550px;
    }

    .footer-container, .footer-line, .footer-gmail, .gmail-input, .footer-last-container {
        width: 400px;
    }

    .blog-container p {
        width: 440px;
    }
}
