@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @section Styles{
        <link rel="stylesheet" href="~/Index/style1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    }
    <title>Index</title>
</head>

<body>
    
        <svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style = "position: absolute; z-index: -1;top:-100px;left:-300px;width:800px;height:900px">
            <path fill="#e0d4ab" d="M421,318.5Q366,397,279.5,420.5Q193,444,121,388Q49,332,72,251Q95,170,143,96.5Q191,23,251,87Q311,151,393.5,195.5Q476,240,421,318.5Z" />
        </svg>
            
        <div class="swiper">
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-left">
                            <p class = "text">TIME IS ALMOST UP</p>
                            <h2 class = "title">Design clocks on sale</h2>
                            <button class = "start-shopping button-light-effect">START SHOPPING</button>
                        </div>
                        <div class="slide-right">                          
                            <img src="~/Images_index/clock-transparent.png" alt="" style="width: 300px;height: 500px;object-fit: contain;">
                        </div>
                    </div>                   
                  </div>

                  <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-left">
                            <p class = "text">OUR ALL-TIME FAVOURITES</p>
                            <h2 class = "title">Black & White</h2>
                            <p class = "paragraph" style="margin-top: 15px;">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pit</p>
                            <button class = "start-shopping button-light-effect">DISCOVER MORE</button>
                        </div>
                        <div class="slide-right">                          
                            <img src="~/Images_index/silder-img.png" alt="" style="width: 300px;height: 500px;object-fit: contain;">
                        </div>
                    </div> 
                  </div>

                  <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-left">
                            <p class = "text">OUR ALL-TIME FAVOURITES</p>
                            <h2 class = "title">Boxxez</h2>
                            <p class = "paragraph" style="margin-top: 15px;">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pit</p>
                            <button class = "start-shopping button-light-effect">DISCOVER MORE</button>
                        </div>
                        <div class="slide-right">                          
                            <img src="~/Images_index/slide-img3.png" alt="" style="width: 300px;height: 500px;object-fit: contain;">
                        </div>
                    </div> 
                  </div>
                  ...
                </div>
                <div class="swiper-pagination"></div>
        </div>

        <div class="top-choices">
            <div class="top-choices-container">
                <p class = "text1">Top choices</p>
                <h3 class = "title1">Popular this week</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="product1">
            <div class="product1-container">
                <div class="product1-left grow-effect">
                    <img src="~/Images_index/book-sq.jpg" alt="" style="width: 350px;height: 350px;">
                    <h3 class = "title2-margin-left">Furniture<br>source<br>book</h3>
                    <p class = "price1">$39.90</p>
                    <p class = "shop-now1">SHOP NOW</p>
                </div>
                <div class="product1-right grow-effect">
                    <div class = "product1-right-left">
                        <h2 class = "title1">Norwegg<br>design<br>chair</h2>
                        <p class = "price2">$139.90</p>
                        <p class = "shop-now2">SHOP NOW</p>
                    </div>
                    <img src="~/Images_index/chair-2-sq.jpg" alt="" style="width: 540px;height: 540px;margin-left: 65px;">
                </div>
            </div>
        </div>

        <div class="product2">
            <div class="product2-container">
                <div class="product2-left grow-effect">
                    <div class="product2-left-left">
                        <h2 class = "title1">Sunn<br>Clock</h2>
                        <p class = "price2">$139.90</p>
                        <p class = "shop-now2">SHOP NOW</p>
                    </div>
                    <img src="~/Images_index/clock-sq.jpg" alt="" style="width: 540px;height: 540px;">
                </div>

                <div class="product2-right grow-effect">
                    <img src="~/Images_index/box-sq.jpg" alt="" style="width: 350px;height: 350px;">
                    <h2 class = "title1">ACCESSORY<br>boxes</h2>
                    <p class = "price2">$29.90</p>
                    <p class = "shop-now2">SHOP NOW</p>
                </div>             
            </div>
        </div>

        <div class="product3">
            <div class="product3-container">
                <div class="product3-left grow-effect">
                    <img src="~/Images_index/clock2-sq.jpg" alt="" style="width: 255px;height: 255px;">
                    <h3 class = "title2-margin-left">Swiss<br>Minutes<br>Black</h3>
                    <p class = "price1">$149.90</p>
                    <p class = "shop-now1">SHOP NOW</p>
                </div>
                <div class="product3-right grow-effect">
                    <div class = "product3-right-left">
                        <h2 class = "title1">Korona<br>dinning<br>room chair</h2>
                        <p class = "price2">$139.90</p>
                        <p class = "shop-now2">SHOP NOW</p>
                    </div>
                    <img src="~/Images_index/chair3-3-sq.jpg" id="test" alt="" style="width: 634px;height: 634px;margin-left: 65px;">
                </div>
            </div>
        </div>   

        <div class="sale">
            <div class="sale-container">
                <div class="sale-left">
                    <div class="red-text">DEAL OF THE WEEK</div>
                    <h2 class = "title1">Black and white Nordegg chairs</h2>
                    <div class="prices"><span style = "text-decoration:line-through;">$129.00</span><span>$79.00</span></div>
                    <button class = "sale-button">$50 off</button>    
                    <div class="time">
                        <div class="time-part">
                            <h6 id = "days">00</h6>
                            <p>days</p>
                        </div>

                        <div class="time-part">
                            <h6 id = "hours">00</h6>
                            <p>hours</p>
                        </div>

                        <div class="time-part">
                            <h6 id = "minutes">00</h6>
                            <p>minutes</p>
                        </div>

                        <div class="time-part">
                            <h6 id = "seconds">00</h6>
                            <p>seconds</p>
                        </div>
                    </div>
                    <button class = "shop-now button-black-effect">SHOP NOW</button>
                </div>

                <div class="sale-right">
                    <img src="~/Images_index/chair2-transparent.png" alt="" style="width: 300px;height: 450px;">
                </div>
            </div>
        </div>

        <div class="new-arrivals">
            <div class="new-arrivals-container">
                <h2 class="title1">New Arrivals</h2>
                <p class="paragraph" style="width: 1100px;">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
            </div>
        </div> 
        
        <div class="product-filter-line">
            <div class="product-filter-line-container">
                <ul class = "product-filter-left">
                    <li style="color:black">All Products</li>
                    <li>Chairs</li>
                    <li>Books</li>
                    <li>Clothes</li>
                    <li>Accessories</li>
                </ul>
                <div class = "product-filter-right">All Products</div>
            </div>
        </div>

        <div class="products">
            <div class="products-container">

                <div class="item" data-aos="zoom-in" data-aos-once="true">
                    <div class="item-img">
                        <div class="imgs">
                            <img class = "default-img" src="~/Images_index/Item1.jpg" alt="" style = "width: 255px;height: 380px;">
                            <img class = "hover-img" src="~/Images_index/Item1-hover.jpg" alt="" style = "width: 255px;height: 380px;">
                        </div>
                        <div class="add-cart">
                            <h5 class = "add-cart-word">Add to cart</h5>
                            <div class="logos">
                                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                                <i class="fa-solid fa-maximize test1" style="color: #000000;"></i>
                            </div>
                        </div>

                        
                    </div>
                    <div class="product-info">
                        <h3>Norwegg Chair</h3>
                        <p class = "price">$40.00</p>
                    </div>
                </div>

                <div class="item" data-aos="zoom-in" data-aos-once="true">
                    <div class="item-img">
                        <div class="imgs">
                            <img class="default-img" src="~/Images_index/Item2.jpg" alt="" style="width: 255px;height: 380px;">
                            <img class="hover-img" src="~/Images_index/item2-effect.jpg" alt="" style="width: 255px;height: 380px;">
                        </div>
                        <div class="add-cart">
                            <h5 class = "add-cart-word">Add to cart</h5>
                            <div class="logos">
                                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                                <i class="fa-solid fa-maximize" style="color: #000000;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h3>Norwegg Chair</h3>
                        <p class = "price">$40.00</p>
                    </div>
                </div>

                <div class="item" data-aos="zoom-in" data-aos-once="true">
                    <div class="item-img">
                        <div class="imgs">
                            <img class="default-img" src="~/Images_index/Item3.jpg" alt="" style="width: 255px;height: 380px;">
                            <img class="hover-img" src="~/Images_index/item3-effect.jpg" alt="" style="width: 255px;height: 380px;">
                        </div>
                        <div class="add-cart">
                            <h5 class = "add-cart-word">Add to cart</h5>
                            <div class="logos">
                                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                                <i class="fa-solid fa-maximize" style="color: #000000;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h3>Norwegg Chair</h3>
                        <p class = "price">$40.00</p>
                    </div>
                </div>

                <div class="item" data-aos="zoom-in" data-aos-once="true">
                    <div class="item-img">
                        <div class="imgs">
                            <img class="default-img" src="~/Images_index/Item4.jpg" alt="" style="width: 255px;height: 380px;">
                            <img class="hover-img" src="~/Images_index/item4-effect.jpg" alt="" style="width: 255px;height: 380px;">
                        </div>
                        <div class="add-cart">
                            <h5 class = "add-cart-word">Add to cart</h5>
                            <div class="logos">
                                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                                <i class="fa-solid fa-maximize" style="color: #000000;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h3>Norwegg Chair</h3>
                        <p class = "price">$40.00</p>
                    </div>
                </div>

                <div class="item" data-aos="zoom-in" data-aos-once="true">
                    <div class="item-img">
                        <div class="imgs">
                            <img class="default-img" src="~/Images_index/Item5.jpg" alt="" style="width: 255px;height: 380px;">
                            <img class="hover-img" src="~/Images_index/item5-effect.jpg" alt="" style="width: 255px;height: 380px;">
                        </div>
                        <div class="add-cart">
                            <h5 class = "add-cart-word">Add to cart</h5>
                            <div class="logos">
                                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                                <i class="fa-solid fa-maximize" style="color: #000000;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h3>Norwegg Chair</h3>
                        <p class = "price">$40.00</p>
                    </div>
                </div>

                <div class="item" data-aos="zoom-in" data-aos-once="true">
                    <div class="item-img">
                        <div class="imgs">
                            <img class="default-img" src="~/Images_index/Item6.jpg" alt="" style="width: 255px;height: 380px;">
                            <img class="hover-img" src="~/Images_index/item6-effect.jpg" alt="" style="width: 255px;height: 380px;">
                        </div>
                        <div class="add-cart">
                            <h5 class = "add-cart-word">Add to cart</h5>
                            <div class="logos">
                                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                                <i class="fa-solid fa-maximize" style="color: #000000;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h3>Norwegg Chair</h3>
                        <p class = "price">$40.00</p>
                    </div>
                </div>

                <div class="item" data-aos="zoom-in" data-aos-once="true">
                    <div class="item-img">
                        <div class="imgs">
                            <img class="default-img" src="~/Images_index/Item7.jpg" alt="" style="width: 255px;height: 380px;">
                            <img class="hover-img" src="~/Images_index/item7-effect.jpg" alt="" style="width: 255px;height: 380px;">
                        </div>
                        <div class="add-cart">
                            <h5 class = "add-cart-word">Add to cart</h5>
                            <div class="logos">
                                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                                <i class="fa-solid fa-maximize" style="color: #000000;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h3>Norwegg Chair</h3>
                        <p class = "price">$40.00</p>
                    </div>
                </div>

                <div class="item" data-aos="zoom-in" data-aos-once="true">
                    <div class="item-img">
                        <div class="imgs">
                            <img class="default-img" src="~/Images_index/Item8.jpg" alt="" style="width: 255px;height: 380px;">
                            <img class="hover-img" src="~/Images_index/item8-effect.jpg" alt="" style="width: 255px;height: 380px;">
                        </div>
                        <div class="add-cart">
                            <h5 class = "add-cart-word">Add to cart</h5>
                            <div class="logos">
                                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                                <i class="fa-solid fa-maximize" style="color: #000000;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h3>Norwegg Chair</h3>
                        <p class = "price">$40.00</p>
                    </div>
                </div>           
            </div>  
        </div>

        <div class="summer-sales">
            <div class="summer-sales-container" style="position: relative;">
                <h4 class = "name4">Summer Sales</h4>
                <h5 class="paragraph1">Our biggest sales this year — up to 60% off!</h5>
                <button class="start-shopping1 button-black-effect">Start shopping</button>
                <img src="~/Images_index/chair-transparent.png" alt="" style="position: absolute;width: 250px;height: 430px;left: 78%;">
            </div>
        </div>

        <div class="advantages">
            <div class="advantages-container">
                <div class = "advantage-items">
                    <div class="advantage-items-left">
                        <i class="fa-solid fa-taxi fa-xl" style="color: #000000;"></i>
                    </div>
                    <div class="advantage-items-right">
                        <h6 class="name3">Free shipping & return</h6>
                        <p class="paragraph2">Free Shipping over $300</p>
                    </div>
                </div>

                <div class = "advantage-items">
                    <div class="advantage-items-left">
                        <i class="fa-brands fa-bitcoin fa-xl" style="color: #000000;"></i>
                    </div>
                    <div class="advantage-items-right">
                        <h6 class="name3">Free shipping & return</h6>
                        <p class="paragraph2">Free Shipping over $300</p>
                    </div>
                </div>

                <div class = "advantage-items">
                    <div class="advantage-items-left">
                        <i class="fa-solid fa-percent fa-xl" style="color: #000000;"></i>
                    </div>
                    <div class="advantage-items-right">
                        <h6 class="name3">Free shipping & return</h6>
                        <p class="paragraph2">Free Shipping over $300</p>
                    </div>
                </div>

                <div class = "advantage-items">
                    <div class="advantage-items-left">
                        <i class="fa-regular fa-user fa-xl" style="color: #000000;"></i>
                    </div>
                    <div class="advantage-items-right">
                        <h6 class="name3">Free shipping & return</h6>
                        <p class="paragraph2">Free Shipping over $300</p>
                    </div>
                </div>
            </div>
        </div>

</body>

@section Scripts{
    <script src="~/Index/Js/timer.js"></script>
    <script src="~/Index/Js/index.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/Index/Js/slide.js"></script>
    <script>
        AOS.init();
    </script>
}
</html> 